body , html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns each taking up 50% width */
    grid-template-rows: 1fr 1fr;    /* Two rows each taking up 50% height */
    height: 100%;
  }

.top-of-page {
    background-color: #333;
}

.languages-and-technologies {
    background-color: #555;
}